<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <br> <br> <br> <br>
        <p style="text-align: center;"><i class="fa-solid fa-comments"></i>&nbsp;<b>Your Random Message with
                All Users
            </b>
        </p>
        <Table class="messageShowStyle">
            <Thead style="background-color: #BE232B; color: white;">
                <tr class="border">
                    <td class="Author"><i class="fa-solid fa-user"></i>&nbsp; Sender</td>
                    <td class="Receiver"><i class="fa-solid fa-user"></i>&nbsp; Receiver</td>
                    <td class="Message"><i class="fa-solid fa-message"></i> &nbsp; Message</td>
                    <td class="Date"><i class="fa-regular fa-calendar-days"></i> &nbsp; Date</td>
                </tr>
            </Thead>
            <Tbody>
                <% for (message of betweenMessages) { %>
                    <tr>
                        <td class="MessageTableStyle">
                            <a href="/home/profile/<%=message.sender%>" method="GET">
                                <i class="fa-solid fa-user"></i>
                                <%=message.sender %>
                            </a>
                        </td>
                        <td class="MessageTableStyle">
                            <a href="/home/profile/<%=message.receiver%>" method="GET">
                                <i class="fa-solid fa-user"></i>
                                <%=message.receiver %>
                            </a>
                        </td>
                        <td style="border: 1px solid rgb(0, 0, 40, 0.3);">
                            <%=message.message %>
                        </td>
                        <td class="MessageTableStyle">
                            <%=message.createdAt.toISOString().substring(0, 10) %>
                        </td>
                    </tr>
                    <% } %>
                        <td colspan="4" style="text-align: center;"><b>No More message Available...!!!!</b></td>
            </Tbody>
        </Table>
    </body>